.u-section-1 .u-sheet-1 {
  min-height: 995px;
}

.u-section-1 .u-text-1 {
  margin: 47px 12px 0;
}

.u-section-1 .u-image-1 {
  width: 1116px;
  height: 672px;
  margin: 30px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 566px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 205px;
  }
}